<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button class="tablinks" onclick="openAgenda(event, 'day1')" id="defaultOpen">Day 1</button>
    {% for agenda in agendas%}
      <button class="tablinks" onclick="openAgenda(event, 'day{{agenda.day}}')">Day {{agenda.day}}</button>
    {% endfor %}

    <!-- <form action="/trips/plan/{{trip.id}}/new-agenda" method="POST">{%csrf_token%} -->
      <button id="add-button">Add</button>
    <!-- </form> -->
  </body>
</html>
