<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <style>
      body {
        margin: 30px;
      }
      label{
        display: block;
      }
      h1 {
        text-align: center;
      }
      .block {
        display: inline-block;
        margin: 50px;
        vertical-align: top;
      }
      .container {
        margin: auto;
        padding-left: 150px;
      }
    </style>
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.error %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h1>Welcome!</h1>
    <div class="container">
      <div class="block">
        <h2>Register</h2>
        <form action="/register/process" method="POST">{%csrf_token%}
          <label>
            Email:
            <input type="text" name="email">
          </label>
          <label>
            First Name:
            <input type="text" name="first_name">
          </label>
          <label>
            Last Name:
            <input type="text" name="last_name">
          </label>
          <label>
            Password:
            <input type="password" name="password">
            <p>*Password must contain at least 8 characters</p>
          </label>
          <label>
            Confirm Password:
            <input type="password" name="confirm_pw">
          </label>
          <button type="submit">Register</button>
        </form>
        <p>Already have an account?<a href="/"> Signin here</a></p>
      </div>

    </div>
  </body>
</html>
